*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

/* Media Queries para ajustes em diferentes tamanhos de tela */
@media (max-width: 768px) {
    .div-imagem {
        padding-bottom: 75%; /* Ajusta a proporção para telas menores */
    }
}

@media (max-width: 480px) {
    .div-imagem {
        padding-bottom: 100%; /* Ajusta a proporção para telas ainda menores */
    }
}